/* HEADER */
#header {
	font-size:  14px;
	min-height: 700px;
	background: url("/images/index/bg_search.png") no-repeat top center;
	position:   relative;
}
#header .header-line {
	line-height: 95px;
}
#body #header a {
	color: white;
}
#header .nav a:hover {
	color: #ecbb86;
}
#header .trans-buttons {
	margin-top: 20px;
}
#header .trans-buttons a {
	font-family: 'Open Sans', Arial, sans-serif;
	background:    none;
	border-radius: 0;
	line-height:   60px;
	height:        60px;
	padding:       0 44px;
	border-color:  #8b7c77;
	font-size:     15px;
}
#header .trans-buttons a:hover {
	background:   transparent;
	border-color: #c69c6d;
}
#login-btn {
	margin-right: 6px;
}
#header-search {
	background: white;
	z-index: 1000;
	position: relative;
	margin: 0 auto;
	bottom: -432px;
}
#header-search .btn {
	padding: 0 52px;
}
#body #search-city {
	width: 280px;
}
/* WRAPPER, CONTENT */
.wrapper {
	linear-gradient(#f1f1f1, white, white);
}
.content {
	padding: 120px 0 0;
}
/* FOOTER */
#pre-footer {
	font-size:  14px;
	background: url(/images/index/bg_register.png) no-repeat top center;
	min-height: 645px;
	position:   relative;
}
#footer {
	background:  linear-gradient(#f1f1f1, white, white);
}

/* AUTH */
#auth-block .box-wrap {
	background:  white;
	z-index:     1000;
	position:    absolute;
	bottom:      -40px;
	left:        50%;
	width:       560px;
	margin-left: -280px;
}

/* site index */
.wrapper div.summary {
	display: none;
}
.avatar-preview {
	text-align: center;
	margin-bottom: 34px;
}
.avatar-preview a {
	display: block;
	cursor: pointer;
	position: relative;
	width: 100%;
	max-width: 210px;
	padding: 0;
	color: inherit;
}
.avatar-preview a img {
	width: 100%;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
}

/* blogs index */
.blogs {
	position:       relative;
	font-size:      15px;
	padding-bottom: 80px;
}
#blogs {
	padding-left:  0;
	padding-right: 0;
}
.slick-slide img, .blog-image img {
	max-width: 100%;
}
.slick-current .slick-slide img {
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
}
.blog-info {
	padding-left: 40px;
}
.blog-title {
	margin-top:  -10px;
	font-size:   30px;
	font-weight: bold;
}
.blog-separator i {
	display:          inline-block;
	width:            50px;
	height:           2px;
	background-color: #c69c6d;
}
.blog-separator {
	margin-top: 6px;
	margin-bottom: 25px;
}
.blog-content {
	text-align: justify;
}
.blogs-paginator {
	position: absolute;
	bottom:   25px;
	left:     50%;
}
.blogs-paginator span {
	display:        inline-block;
	vertical-align: top;
}
.blogs-paginator .slick-curr {
	font-size: 60px;
	color:     #c69c6d;
}
.blogs-paginator .slick-total {
	font-size: 40px;
}
.blogs-paginator .slick-curr, .blogs-paginator .slick-total {
	line-height: 40px;
	font-size:   40px;
}
.blogs-paginator .slick-total {
	font-size:  36px;
	margin-top: 6px;

}
.blogs-paginator .slick-prev, .blogs-paginator .slick-next {
	padding: 20px;
}