.photo-header {
	margin-bottom: 20px;
}
.photo-warning .list {
	margin-top: -10px;
}
#nav-albums {

}
.photo-warning {
	margin-top: 20px;
}
#files {
	margin-bottom: 28px;
}
#progress {
	display:       none;
	margin-bottom: 0;
}
.uploaded-photo {
	font-size:      11px;
	text-align:     center;
	padding-bottom: 6px;
	margin-top:     12px;
	margin-bottom:  12px;
	position:       relative;
	height:         134px;
	overflow:       hidden;
}
.uploaded-photo img {
}
.uploaded-photo > a, .uploaded-photo > p {
	height:             133px;
	display:            block;
	cursor:             pointer;
	position:           relative;
	width:              100%;
	max-width:          200px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
	-moz-box-shadow:    0 1px 4px 0 rgba(0, 0, 0, .2);
	box-shadow:         0 1px 4px 0 rgba(0, 0, 0, .2);
	color:              inherit;
}
.uploaded-photo > a {
	position: relative;
}
.uploaded-photo .fa {
	display:     none;
	color:       #c69c6d;
	margin-left: 3px;
}
.uploaded-photo > a > p .fa {
	display:   inline-block;
	position:  absolute;
	right:     1px;
	bottom:    1px;
	font-size: 14px;
	height:    14px;
	width:     14px;
}
.upload-btn {
	display: none !important;
}
#upload-all-btn {
	margin-left: 15px;
}
/*********************************************************/

.photo {
	text-align:    center;
	margin-bottom: 20px;
}
.photo a.approved:after, .photo a.banned:after, .photo a.nudes:before {
	content:   '✔';
	font-size: 17px;
	color:     #c69c6d;
	display:   block;
	position:  absolute;
	left:      -20px;
	bottom:    0;
}
.photo a.banned:after {
	content:   '✘';
	color:     maroon;
}
.photo a.nudes:before {
	content:     '✱';
	color:       #ec5cbe;
	bottom:      20px;
}
.photo canvas {
	border: 1px solid #eee;
}
.photo a {
	height:             auto;
	display:            block;
	cursor:             pointer;
	position:           relative;
	width:              100%;
	max-width:          200px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
	-moz-box-shadow:    0 1px 4px 0 rgba(0, 0, 0, .2);
	box-shadow:         0 1px 4px 0 rgba(0, 0, 0, .2);
	color:              inherit;
}
.photo img {
	max-width:  100%;
	max-height: 100%;
}

/* MOBILE */
@media (max-width: 700px) {
	.photo-header .fileinput-button {
		width: 100%;
		margin-bottom: 15px;
	}
	#upload-all-btn {
		margin-left: 0;
		width: 100%;
	}
}