.wrapper {
	background: url(/images/bg/content-gray.png) repeat-x;
}
#chat {
	background: white;
	font-size:  15px;
}
#chat ul {
	list-style: none;
	padding:    0;
}
#chat-search {
	background:    url(/images/icons/search.png) no-repeat right 16px center;
	border-bottom: 1px solid #ede9e6;
}
#chat-search input, #post-message {
	-webkit-appearance: none;
	-moz-appearance:    none;
	-ms-appearance:     none;
	-o-appearance:      none;
	appearance:         none;
	box-shadow:         none !important;
	background:         white !important;
	line-height:        48px;
	border:             none !important;
}
#chat-search input:-webkit-autofill {
	color: #fff !important;
}
.message-sendbox {
	position:    relative;
	height:      48px;
	line-height: 48px;
	padding:     0 30px;
	border-top:  1px solid #ede9e6;
}
.col-messages-box {
	border-left:   1px solid #ede9e6;
	padding-left:  0;
	padding-right: 0;
}
#messages-box {
	padding:    20px 20px 0 20px;
	overflow:   hidden;
	overflow-y: scroll;
	position:   relative;
}
#messages-box ul {
	list-style: none;
	padding:    0;
}
#messages-box .container {
	width:   100%;
	margin:  0;
	padding: 0;
}
#chat-users {
	padding:    0;
	list-style: none;
}
.lastmsg-time {
	color:      #777e8c;
	font-size:  14px;
	opacity:    0.7;
	margin-top: 2px;
}
.lastmsg-message {
	white-space:    nowrap;
	max-width:      100%;
	text-overflow:  ellipsis;
	overflow:       hidden;
	font-size:      14px;
	color:          #656565;
	padding-bottom: 1px;
	line-height:    16px;
}
.lastmsg-who {
	color: #8b939b;
}
.user-name {
	font-weight:   bold;
	margin:        2px 0 7px;
	max-width:     70%;
	white-space:   nowrap;
	text-overflow: ellipsis;
	font-size:     18px;
}
.chat-with {
	width:         100%;
	padding:       10px 10px;
	cursor:        pointer;
	position:      relative;
	border-bottom: 1px solid #ede9e6;
}
.chat-with.active {
	background: #faf7f5;
}
.chat-with.active:after {
	content:          '';
	display:          block;
	position:         absolute;
	right:            0;
	top:              0;
	width:            3px;
	height:           100%;
	background-color: #c69c6d;
}
.chat-with-row {
	margin: 0;
}
.chat-with-avatar {
	padding: 0;
}
.chat-with-avatar img, .chat-with-avatar a {
	display:               inline-block;
	width:                 46px;
	height:                46px;
	border-radius:         50%;
	-moz-border-radius:    50%;
	-webkit-border-radius: 50%;
}
.chat-with-info {
	padding: 0 0 0 5px;
}
.chat-with-title {
	margin-bottom: 8px;
}
.message {
	padding:    10px;
	background: #faf7f5;
	margin:     0 !important;
}
.message.readed {
	background: white;
}
.message-avatar {
	padding: 0;
	width:   40px;
}
.message-avatar img {
	width:                 40px;
	height:                40px;
	border-radius:         50%;
	-moz-border-radius:    50%;
	-webkit-border-radius: 50%;
}
.message-time {
	color:       hsla(220, 8%, 51%, .6);
	font-size:   14px;
	margin-left: 14px;
}
.message-header {
	margin-top: -3px;
}
.message-name {
	font-weight: bold;
	font-size:   16px;
}
.message-message {
	padding-top: 3px;
	line-height: 18px;
}
input.post-message {
	width:         100%;
	padding-left: 40px;
	display:       inline-block;
}
.post-btn {
	font-size:   20px;
	color:       #c69c6d;
	padding:     6px;
	margin-left: 2px;
	cursor:      pointer;
	position:    absolute;
	top:         9px;
	left:       14px;
}
.ua {
	position: relative;
}
.ua.ua-online:before {
	right: 4px;
	top:   0;
}
li.active .ua.ua-online:before {
	border-color: #c69c6d;
}
.wink {
	cursor: pointer;
}
.wink img {
	max-width: 100%;
	max-height: 40px;
}
.wink-img {
	padding: 0;
}
#messages-box-with {
	display: none;
}
.mobile-title {
	display: none;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0;
}

/* MOBILE */
@media (max-width: 700px) {
	.wrapper {
		background: white;
	}
	.container {
		margin-left: 0;
		margin-right: 0;
		overflow-x: hidden;
	}
	.content {
		padding-top: 0 !important;
	}
	h1 {
		display: none;
	}
	#chat ul {
		margin: 0;
	}
	#chat.without .mobile-dialogs {
		display: block;
	}
	#chat.with .mobile-messages {
		display: block;
	}
	#chat.with #chat-users .chat-with {
		display: none;
	}
	#chat.with #chat-users .chat-with.active {
		display: block;
	}
	#chat.with #chat-search {
		display: none;
	}
	#chat-users {
		height: auto !important;
	}
	#messages-box {
		height: auto !important;
		padding: 0;
	}
	.message {
		margin: 0;
		padding: 12px 10px !important;
	}
	.message-avatar {
		float: left;
		margin-right: 15px;
	}
	.chat-with.active {
		background: white;
	}
	.chat-with-avatar {
		float: left;
		margin-right: 10px;
	}
	#body .lastmsg-time {
		float: right !important;
	}
	.user-name {
		font-size: 16px;
	}
}