.row.blogs {
	margin-left:  -20px;
	margin-right: -20px;
	margin-bottom: 34px;
}
.row.blogs .col-md-8, .row.blogs .col-md-4 {
	padding-right: 20px;
	padding-left:  20px;
}
.blog {
	font-size: 15px;
}
.blog > div {
	margin-bottom: 18px;
}
.blog > div.blog-date {
	margin-bottom: 10px;
	color:         #bbb;
}
.blog-image a {
	display: inline-block;
	width:   100%;
}
.blog.col-md-8 .blog-title {
	max-width: 65%;
}
.blog-title a {
	font-size:     30px;
	border-bottom: 2px solid #c69c6d;
	font-weight:   bold;
}
.blog-title a > span {
	margin-bottom: -2px;
}
.blog img {
	width:              100%;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
	-moz-box-shadow:    0 1px 4px 0 rgba(0, 0, 0, .2);
	box-shadow:         0 1px 4px 0 rgba(0, 0, 0, .2);
}
@media (max-width: 700px) {
	#body .article-title h1 {
		border-bottom: none;
		border-bottom: none;
		font-size: 22px;
	}
}