a.avatar-block {
	max-width: 240px;
	height:    240px;
}
#remotes-block {
	text-align: right;
}
#remotes, .videoContainer {
	height: 377px;
}
.videoContainer {
	position: relative;
	width:    500px;
	display:  inline-block;
}
.videoContainer.waiting {
	background:  beige;
	padding:     35px 20px;
	font-size:   26px;
	font-weight: bold;
	color:       #ccc;
	text-align:  center;
}
.videoContainer video {
	position: absolute;
	width:    100%;
	height:   100%;
	right:    0;
	top:      0;
}
.videoContainer video, #localVideo {
	border:  1px solid #ccc;
	padding: 3px;
}
.web-local {
	margin-top: 60px;
}
#localVideo {
	height: 200px;
	width:  264px;
}
.profile-name {
	margin-top: 0;
}
.profile-buttons a {
	margin-top:   20px;
	margin-right: 15px;
}
.profile-name {
	margin-top: 12px;
}
#profile-block {
	padding-right: 30px;
}
.webrtc-controls {
	clear: both;
}
.webrtc-controls i {
	display:    inline-block;
	width:      20px;
	text-align: center;
}
.webrtc-controls a {
	float:         right;
	margin-bottom: 10px;
}
/*********************************************************/