.row.any {
	font-size: 15px;
}
h4 {
	margin:      -5px 0 15px;
	font-size:   24px;
	font-weight: normal;
}
.avatar-wrap {
	display:  inline-block;
	position: relative;
}
.avatar-wrap > a {
	display:            inline-block;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
	-moz-box-shadow:    0 1px 4px 0 rgba(0, 0, 0, .3);
	box-shadow:         0 1px 4px 0 rgba(0, 0, 0, .3);
}
.avatar-buttons {
	display:    inline-block;
	position:   absolute;
	bottom:     0;
	right:      0;
	background: white;
}
.avatar-buttons a {
	display: inline-block;
}
.avatar-buttons > a:hover {
	background: #eee;
}
.avatar > img {
	max-width:          100%;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
	-moz-box-shadow:    0 1px 4px 0 rgba(0, 0, 0, .3);
	box-shadow:         0 1px 4px 0 rgba(0, 0, 0, .3);
}
table.profile {
	width:           100%;
	border-collapse: collapse;
}
.profile td {
	width:          50%;
	vertical-align: top;
	position:       relative;
}
.profile td.profile-td {
	padding-bottom: 70px;
}
.profile td .profile-controls {
	position: absolute;
	width:    100%;
	bottom:   0;
	right:    0;
}
.profile-controls a, .profile-controls button {
	margin-right: 6px;
	background: #f4f1ee !important;
	border: 1px solid #f4f1ee !important;
	color: #333 !important;
}
.intensions {
	margin-bottom: 25px;
}
.profile-info {
	margin-top: 50px;
}
.profile-info h3 {
	margin-top: 0;
}
.profile-info .online-text {
	padding: 5px 0;
}
.profile-info .ua img {
	display: none;
}
.profile-info .ua.ua-online img {
	display: inline-block;
}
.profile-age {
	margin-bottom: 12px;
}
.row-models {
	margin-top: 50px;
	margin-left: 32px;
}
.row-models a {
	display: inline-block;
	border: 2px solid transparent;
}
.row-models a:hover {
	border: 2px solid #c69c6d;
}
.row-models a img {
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
	-moz-box-shadow:    0 1px 4px 0 rgba(0, 0, 0, .3);
	box-shadow:         0 1px 4px 0 rgba(0, 0, 0, .3);
}
.row-models img {
	max-width: 100%;
}
.row-models img.current {
	border: 2px solid #c69c6d;
}