.wrapper {
	background: url(/images/bg/content-gray.png) repeat-x #f4f1ee;
}
.contact {
	padding:          8px;
	background-color: white;
	margin-bottom:    3px;
	cursor:           pointer;
	border:           1px solid white;
}
.contact:hover {
	background: beige;
	border:     1px solid #bcbca8;
}
.contact img {
	display:               inline-block;
	width:                 46px;
	height:                46px;
	border-radius:         50%;
	-moz-border-radius:    50%;
	-webkit-border-radius: 50%;
}
.contact-name {
	margin-left: 15px;
}
.contacts-title {
	font-size: 20px;
}
.contacts-controls {
	margin: 0 0 10px;
}
.excluded-info {
	margin-bottom: 21px;
}
.broadcast-form {
	margin-bottom: 50px;
}
.broadcasts {
	background: white;
	padding:    20px;
}
.broadcast {
	margin-bottom:  20px;
	border-bottom:  1px solid #eee;
	padding-bottom: 20px;
	font-size:      16px;
	position:       relative;
}
.broadcast:last-child {
	margin-bottom: 0;
	border-bottom: none;
}
.broadcast-date {
	display:   inline-block;
	color:     #959595;
	font-size: 14px;
	position:  absolute;
	bottom:    5px;
	right:     15px;
}
.broadcast-comment {
	padding-bottom: 24px;
}
.mobile-title {
	display: none;
}
/* MOBILE */
@media (max-width: 700px) {
	#broadcast-wrap {
		padding-left: 0;
		padding-right: 0;
	}
	h1 {
		display: none;
	}
	.contact {
		text-align: center;
		padding: 8px 4px 2px;
	}
	.contact-name {
		display: block;
		margin-left: 0;
	}
	.broadcasts {
		background-color: inherit;
		padding: 0;
	}
	.broadcast {
		background-color: white;
		padding: 5px;
		margin: 0 0 18px;
	}
	.broadcast-date {
		bottom: 0;
	}
	.mobile-title {
		display:       block;
		font-size:     22px;
		margin-bottom: 25px;
		overflow:      hidden;
	}
	.mobile-broadcast-add b {
		color: #c69c6d;
	}
	.contacts-title {
		font-size:  18px;
		text-align: center;
	}
	.col-excluded {
		padding-left: 5px;
	}
	.excluded-info {
		text-align: left;
		font-size: 15px;
		line-height: 15px;
	}
	.contact:hover {
		background: white;
		border:     1px solid white;
	}
	.broadcast-form {
		display: none;
	}
	.ua.ua-online:before {
		top: 2px;
		right: auto;
		left: -14px;
	}
}