body .content {
	font-size: 15px;
}
form label {
	display: block;
}
.col-left {
	padding-right: 7px;
}
.col-right {
	padding-left: 7px;
}
.block-title {
	font-size:     24px;
	color:         #c69c6d;
	border-bottom: 1px solid #ede9e6;
	margin-bottom: 25px;
	margin-top:    -15px;
}
.block-title > span {
	display:        inline-block;
	background:     white;
	margin-bottom:  -13px;
	padding-right:  10px;
	padding-bottom: 5px;
	vertical-align: bottom;
}
.block-main-box {
	padding-bottom: 30px;
}
.block-main {
	width:           100%;
	border-collapse: collapse;
}
.block-main td {
	vertical-align: top;
}
.profile-main-avatar {
	width: 350px;
}
.profile-main-info {
	padding-left:  34px;
	padding-right: 34px;
	width:         47%;
}
.profile-main-info .edit-btn a {
	display: block;
	padding: 0 20px;
}
.profile-right {
	position:       relative;
	padding-bottom: 70px;
}
.profile-right .save-btn {
	position: absolute;
	bottom:   15px;
	left:     0;
	right:    0;
}
.btn-save-last {
	margin-top: 20px;
}
.profile-edit-years {
	margin-bottom: 11px;
	font-size: 16px;
	margin-top: -6px;
}
