.avatar-block .label {
	cursor:  pointer;
	display: inline-block;
	padding: 0;
	margin: 0;
}
.upload-box .progress {
	display:       none;
	margin-bottom: 1rem;
}
.upload-box .alert {
	display: none;
}
.upload-box .img-container img {
	max-width: 100%;
}

.img-container {
	/* Never limit the container height here */
	max-width: 100%;
}

.img-container img {
	/* This is important */
	width: 100%;
}
.modal.in .modal-dialog {
	margin-top: 0 !important;
}