#c {
	background-color: #eee;
}
#modal-fabric .modal-header {
	text-align: center;
}
#modal-fabric .modal-body {
	padding: 10px 144px 4px;
}
#btn-fabric {
	padding: 3px 10px;
	display: inline-block;
	vertical-align: top;
	margin-top: -2px;
}
#btn-fabric img {
	width: 30px;
}
.faces {
	margin-top: 12px;
	text-align: center;
}
.faces i {
	display: inline-block;
	background: url("/images/masks/faces.png") no-repeat;
	overflow: hidden;
	vertical-align: middle;
	border: 1px solid #f3f3f3;
	height: 70px;
	width: 70px;
	margin-right: 8px;
	cursor: pointer;
}
.faces i:hover {
	border: 1px solid gray;
}
.faces i.mask-1 {
	background-position: 0 0;
}
.faces i.mask-2 {
	background-position: 0 -75px;
}
.faces i.mask-3 {
	background-position: 0 -150px;
}
.faces i.mask-4 {
	background-position: 0 -225px;
}
.faces i.mask-5 {
	background-position: 0 -300px;
}
.loadersmall {
	width: 30px;
	height: 30px;
	display: none;
}
.span-fabric {
	display: none;
}
.span-fabric.visible {
	display: block;
}