.wrapper {
	background: url(/images/bg/content-gray.png) repeat-x #f4f1ee;
}
.f-box {
	background: white;
	height: 395px;
	padding: 30px 30px 126px;
	margin-bottom: 30px;
	font-size: 16px;
	position: relative;
}
.f-title {
	font-weight: bold;
	font-size: 26px;
	margin: 16px 0 16px;
}
.f-buttons {
	position: absolute;
	bottom: 30px;
	left: 30px;
}
#checkout-amount {
	width: 90px;
}
#finance-mobile {
	display: none;
}

/* MOBILE */
@media (max-width: 700px) {
	#finance-desktop {
		display: none;
	}
	#finance-mobile {
		display: block;
	}
	.f-box {
		height: auto;
		padding: 20px;
	}
	.f-image {
		text-align: center;
	}
	.f-buttons {
		position: static;
		margin-top: 25px;
	}
	.f-buttons a {
		display: block;
		width: 100%;
	}
	#checkout-amount {
		width: 100%;
		margin: 0 0 15px;
	}
}