/* NOTIFY */
#body .notifyjs-bootstrap-info {
	color:                 #8e775c;
	background-color:      beige;
	border-color:          #c69c6d;
	padding:               8px 15px 8px 14px;
	background-image:      none;
	border-radius:         0;
	-moz-border-radius:    0;
	-webkit-border-radius: 0;
}
/* WALLET */
#btn-wallet {
	display:         inline-block;
	line-height:     24px;
	height:          24px;
	text-decoration: none;
	color:           #aaa;
	margin-right:    20px;
}
#btn-wallet:hover {
	text-decoration: none;
}
#btn-wallet > span {
	vertical-align: top;
	margin:         4px;
	display:        inline-block;
}
#btn-wallet img, #btn-wallet:hover img {
	transition:         .4s;
	-webkit-transition: .4s;
	-moz-transition:    .4s;
	-ms-transition:     .4s;
	-o-transition:      .4s;
}
#btn-wallet:hover img {
	moz-transform:     scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform:      scale(-1, 1);
	-ms-transform:     scale(-1, 1);
	transform:         scale(-1, 1);
}
/* PROFILE_BUTTONS */
.link-room.active {
	text-decoration:    none;
	background-color:   #eee;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
	-moz-box-shadow:    0 1px 4px 0 rgba(0, 0, 0, .3);
	box-shadow:         0 1px 4px 0 rgba(0, 0, 0, .3);
	font-weight:        bold;
}
.profile-lists .btn {
	padding: 0 18px;
	color:   gray;
}
.profile-lists {
	margin-top: 20px;
}
.profile-lists .btn {
	padding:       0 18px;
	color:         gray;
	margin-right:  3px;
	margin-bottom: 8px;
}
.profile-lists a.has.link-favorite, .profile-lists a.has.link-blacklist {
	background: #c69c6d;
}
.profile-lists a.has.link-favorite .fa, .profile-lists a.has.link-blacklist .fa {
	color: white;
}
.profile-lists .btn.link-chat {
	color: gray;
}
.profile-lists .btn:hover {
	color: #333;
}
.link-favorite, .link-blacklist, .link-winked {
	border:     none;
	background: #f9f5f0;
}
.link-blacklist {
	margin-right: 0 !important;
}
.link-winked {
	padding: 0 7px !important;
}
.link-winked img {
	max-width: 40px;
}
/* PREMIUM FORM */
.premium-header {
	font-size:   20px;
	font-weight: bold;
	margin:      0 0 25px;
}
.premium-header.plus {
	border-top: 2px dotted #c69c6d;
	padding-top: 21px;
	margin-top: 15px;
}
.premium-bonuses {
	margin-bottom: 35px;
}
.premium-bonuses .col-md-4 {
	padding-right: 10px;
	padding-left: 10px;
}
.premium-icon {
	margin-bottom: 8px;
}
.premium-icon i {
	color:     #c69c6d;
	font-size: 40px;
}
.premium-extra {
	font-size:   15px;
	color:       #aaa;
	font-weight: normal;
	margin-top:  5px;
}
.premium-price {
	color:       #aaa;
	margin-left: 33px;
	font-size: 15px;
}
#premium-info {
	display:     none;
	padding:     12px 0;
	text-align:  center;
	background:  beige;
	line-height: 24px;
}
#premium-info b {
	font-size: 17px;
}
#premium-form input[type="radio"] {
	display:        inline-block;
	vertical-align: top;
	width:          17px;
	height:         17px;
	margin:         1px 10px 0 0;
}
#premium-form .form-row {
	margin-bottom: 8px;
}
.premium-note {
	margin-top: 20px;
	color: #888;
}