.form-group .control-label {
	display: block;
}
.block-title {
	font-size: 24px;
	color: #c69c6d;
	border-bottom: 1px solid #ede9e6;
	margin-bottom: 25px;
	margin-top: 20px;
}
.block-title>span {
	display: inline-block;
	background: white;
	margin-bottom: -13px;
	padding-right: 10px;
	padding-bottom: 5px;
	vertical-align: bottom;
}
.btn-save-last {
	margin: 30px 0 20px;
}
.first-row .block-title {
	margin-top:0;
}
p.removal {
	text-align: justify;
	font-size: 16px;
	margin: 30px 0 40px;
}