body .content {
	font-size: 15px;
}
.block-main-box {
	padding-bottom: 20px;
	border-bottom:  1px solid #ede9e6;
	margin-bottom:  20px;
}
.block-main {
	width:           100%;
	border-collapse: collapse;
	font-size:       17px;
}
.block-main td {
	vertical-align: top;
}
.profile-main-info {
	padding-left:   34px;
	padding-right:  34px;
	position:       relative;
	padding-bottom: 70px;
	width:          30%;
}
.profile-main-info .edit-btn {
	position: absolute;
	bottom:   0;
	left:     34px;
	right:    34px;
}
.profile-main-info .edit-btn a {
	display: block;
	padding: 0 20px;
}
.profile-right.my {
	border:  1px solid #c69c6d;
	padding: 10px 20px;
}
.profile-right-title {
	font-size:     24px;
	margin-bottom: 24px;
}
.profile-right img.preview-image {
	max-width:          100%;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
	-moz-box-shadow:    0 1px 4px 0 rgba(0, 0, 0, .3);
	-o-box-shadow:      0 1px 4px 0 rgba(0, 0, 0, .3);
	box-shadow:         0 1px 4px 0 rgba(0, 0, 0, .3);
}
.profile-right img.heart-favorite {
	position: absolute;
	display:  inline-block;
	right:    0;
	bottom:   0;
	height:   30px;
}
.profile-right-header {
	font-weight: bold;
	font-size:   14px;
	margin:      22px 0 6px;
}
.row-avatars {
	margin-left:  -8px;
	margin-right: -8px;
}
.col-avatars {
	padding: 0 6px;
}
.profile-name {
	margin-top: -6px;
	font-size:  31px;
}
.info-block .fa {
	vertical-align: bottom;
	font-size:      18px;
	margin-left:    5px;
	margin-bottom:  1px;
	color:          #ede9e6;
}
.info-block-about {
	margin: 20px 0 10px;
}
.profile-about {

}
.profile-main-avatar {
	width: 350px;
}
.avatar-block:hover .change-photo {
	display: block;
}
.avatar-block .change-photo {
	position:         absolute;
	bottom:           0;
	left:             0;
	right:            0;
	height:           40px;
	text-align:       center;
	background-color: rgba(0, 0, 0, 0.7);
	text-decoration:  none;
	font-size:        17px;
	line-height:      40px;
	color:            white;
	display:          none;
}
h4 {
	margin:      17px 0 10px;
	font-size:   25px;
	font-weight: normal;
}
.info-block h4 {
	color: #c69c6d;
}
.metro-block {
	font-size:      15px;
	vertical-align: bottom;
	display:        inline;
}
.metro-block img {
	margin-right: 6px;
}
.profile-buttons a {
	margin-top:   20px;
	margin-right: 15px;
}
.profile-buttons .fa {
	margin-right: 5px;
}
/*********************************************************/
#modal-registered {
	font-size: 14px;
}
#modal-registered .line {
	margin-top: 12px;
}
#modal-registered ul {
	margin-top: 0;
	list-style: none;
	padding:    0;
}
#modal-registered ul li {
	list-style:    none;
	position:      relative;
	border-bottom: 1px dashed #ddd;
	padding:       10px 0 12px 34px;
}
#modal-registered ul li:last-child {
	border-bottom:  0;
	padding-bottom: 0;
}
#modal-registered ul li .fa {
	position:    absolute;
	top:         10px;
	left:        0;
	font-size:   26px;
	line-height: 20px;
}
#modal-registered .fa-check-circle {
	color: #c69c6d;
}
#modal-registered .fa-ban {
	color: maroon;
}
#modal-registered label {
	text-decoration: underline;
	cursor:          pointer;
}
.msg-text {
	background:            beige;
	padding:               5px 10px;
	border:                1px solid #d0d0b7;
	margin-top:            5px;
	display:               none;
	border-radius:         5px;
	-webkit-border-radius: 5px;
	-moz-border-radius:    5px;
}
.line-phone {
	display:    none;
	margin-top: -3px;
}
.line-phone .form-control, .line-phone a {
	display:      inline-block;
	margin-right: 10px;
}
.line-phone input {
	max-width: 136px;
	padding:   0 10px;
}
#phone_code {
	max-width:  70px;
	text-align: center;
}
#phone_code, #phone_confirm {
	display: none;
}
#resend_sms_msg {
	display: none;
}
/*********************************************************/
.online-text img {
	display: none;
}
.online-text.ua-online img {
	display:        inline-block;
	margin-left:    2px;
	margin-bottom:  4px;
	vertical-align: bottom;
}
.ua.ua-online:before {
	display: none !important;
}
/*********************************************************/
.after-content .h1 {
	margin-bottom: 36px;
}
.photo-buttons {
	margin-top: 14px;
}
#photo-add {
	background:  #f5f1ee;
	margin-left: 8px;
}
.photogallery {
	margin-bottom: 20px;
}
.photo {
	text-align:    center;
	margin-bottom: 14px;
}
.photo a {
	height:             auto;
	display:            block;
	cursor:             pointer;
	position:           relative;
	width:              100%;
	max-width:          200px;
	padding:            0;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
	-moz-box-shadow:    0 1px 4px 0 rgba(0, 0, 0, .3);
	box-shadow:         0 1px 4px 0 rgba(0, 0, 0, .3);
	color:              inherit;
	margin-bottom:      14px;
}
.photo img {
	border:     none;
	margin:     0;
	padding:    0;
	display:    inline-block;
	max-width:  100%;
	max-height: 100%;
}

/* MOBILE */
@media (max-width: 700px) {
	.block-main-box {
		margin-bottom: 0;
		padding-bottom: 5px;
	}
	.block-main-box td {
		display: block;
		width: 100%;
	}
	.avatar-block {
		height: auto;
		margin: 0 auto;
	}
	.profile-main-info {
		padding: 0;
	}
	.profile-main-info .online-text {
		text-align: center;
		margin: 5px 0 8px;
	}
	.profile-main-info .profile-name {
		text-align: center;
		font-size: 26px;
		margin: 0 0 4px;
		color: #c69c6d;
	}
	.profile-main-info .profile-years {
		text-align: center;
		margin-bottom: 25px;
	}
	.after-content {
		padding: 20px 0;
	}
	.wrapper.main {
		padding: 0;
	}
	.profile-right {
		display: none !important;
	}
	.profile-main-info .edit-btn {
		position: static !important;
		margin-bottom: 20px;
	}
	.metro-block {
		text-align: center;
		display: block;
		margin: -24px 0 22px;
	}
	#photo-add {
		width: 100%;
		margin: -10px 0 20px;
	}
}